@import "tailwindcss";

@layer base {
  :root {
    /* Cores Light (Padrão) */
    --bg-app: #FFF5F9;
    --surface: #FFFFFF;
    --text-primary: #1F2937;
    --text-secondary: #6B7280;
    --border-color: #F3E8F0;
  }

  /* Quando a classe 'dark' está presente no HTML */
  .dark {
    --bg-app: #0F172A;      /* Azul Noturno Profundo */
    --surface: #1E293B;     /* Azul/Cinza Slate */
    --text-primary: #F8FAFC; /* Branco Gelo */
    --text-secondary: #94A3B8; /* Cinza Claro */
    --border-color: #334155;   /* Borda Escura */
  }

  /* Aplicação global suave */
  body {
    background-color: var(--bg-app);
    color: var(--text-primary);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

/* Utilitário para esconder scrollbar na sidebar */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}