@import "tailwindcss";

@layer base {
  :root {
    /* Cores Light (Padrão) */
    --bg-app: #F1F5F9; /* Slate 100 para fundo claro mais bonito */
    --surface: #FFFFFF;
    --text-primary: #1E293B;
    --text-secondary: #64748B;
    --border-color: #E2E8F0;
    
    /* Cor das bolinhas do grid no Light Mode */
    --dot-color: #CBD5E1; 
  }

  /* Quando a classe 'dark' está presente no HTML */
  .dark {
    --bg-app: #0F172A;      
    --surface: #1E293B;     
    --text-primary: #F8FAFC; 
    --text-secondary: #94A3B8; 
    --border-color: #334155;
    
    /* Cor das bolinhas do grid no Dark Mode */
    --dot-color: rgba(148, 163, 184, 0.2);
  }

  body {
    background-color: var(--bg-app);
    color: var(--text-primary);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}